<!DOCTYPE html>
<html>
  <head>
    <title>Publisher-Subscriber</title>
  </head>
  <body>
     <div>
      <h2>Publish Data</h2>
      <input type="text" id="publisherId" placeholder="Publisher ID" />
      <input type="text" id="data" placeholder="Data" />
      <button onclick="publish()">Publish</button>
    </div>

    <div>
      <h2>Subscribe to Data</h2>
      <input type="text" id="subscribeId" placeholder="Publisher ID" />
      <button onclick="subscribe()">Subscribe</button>
    </div>

    <div id="dataDisplay"></div>

    <script>
      function publish() {
        const publisherId = document.getElementById("publisherId").value;
        const data = document.getElementById("data").value;
        fetch("/publish", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ publisher_id: publisherId, data: data }),
        })
          .then((response) => response.json())
          .then(() => alert("Data published"))
          .catch(console.error);
      }

      function subscribe() {
        const publisherId = document.getElementById("subscribeId").value;
        fetch(`/subscribe/${publisherId}`)
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("dataDisplay").innerText = data.error || `Data: ${data.data}`;
          })
          .catch(console.error);
      }
    </script>
  </body>
</html>